.bannerSlider {
  overflow: hidden;
  width: 300px;
  margin: auto;
  height: 350px;
}

.sliderControls {
  position: absolute;
  z-index: 99;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
}

.sliderControl {
  cursor: pointer;
}

.bannerSliderWidth {
  height: 350px;
  display: flex;
  transition: all ease 0.3s;
}

.bannerSliderItem {
  width: 300px;
  display: flex;
}

.slideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-weight: 600;
}

.slideTitle {
  font-size: 30px;
  text-shadow: 2px 2px 1px rgb(189, 184, 184);
  text-align: left;
  width: 250px;
}

.slideText {
  width: 130px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
  background-color: #0acf83;
  padding: 5px;
  box-shadow: 1px 1px 1px black;
}

@media (min-width: 425px) {
  .bannerSlider {
    width: 400px;
  }

  .sliderControls {
    width: 400px;
  }

  .bannerSliderWidth {
    width: 400px;
  }

  .bannerSliderItem {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .bannerSlider {
    width: 600px;
  }

  .sliderControls {
    width: 600px;
  }

  .bannerSliderWidth {
    width: 600px;
  }

  .bannerSliderItem {
    width: 600px;
  }

  .slideTitle {
    font-size: 37px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .bannerSlider {
    width: 900px;
  }

  .sliderControls {
    width: 900px;
  }

  .bannerSliderWidth {
    width: 900px;
  }

  .bannerSliderItem {
    width: 900px;
  }
}
